<h2 mat-dialog-title>Detalle de la Categoría</h2>

<mat-dialog-content class="dialog-content">
  <p><strong>ID:</strong> {{ data.id }}</p>
  <p><strong>Nombre:</strong> {{ data.category }}</p>

  <p><strong>Chistes Asociados:</strong></p>
  <ul *ngIf="data.jokeses.length > 0">
    <li *ngFor="let joke of data.jokeses">
      {{ joke }}
    </li>
  </ul>
  <p *ngIf="data.jokeses.length === 0">No hay chistes asociados.</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
